<p>Student Names</p>
<ul class="list-group">
    <li *ngFor="let student of students" class="list-group-item"

    (click)="selectedStudent(student)"
        [ngclass]="{'active': student.stuid == selectedStudent.stuid}">
        {{student.name}}
    </li>
</ul>

<ul class="list-group">
    <li *ngFor="let library of selectedStudent.libraries"
    (click)="selectedStudent(library)"
    [ngClass]="{'active': library.stuid == selectedLibrary.stuid}"
    class="list-group-item">
    {{library.title}}
</li>
</ul>