<h2>Student Names</h2>
<div class="list-group">
    <div *ngFor="let student of students" class="list-group-item">
       <h1> {{student.name}}</h1>
        <table class="mytable">
            <thead>
                <tr>
                    <th class="header">Book Title:</th>
                    <th class="header">Rental Period (days):</th>
                    <th class="header">ISSBN:</th>
                </tr>

            </thead>
            <tbody *ngFor="let book of student.books">
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.days}}</td>
                    <td>{{book.bookid}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>